body {
  margin: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #874356;
}

h1 {
  color: ##C64272;
  margin-top: 50 auto 0 auto;
  font-size: 4.625rem;
  font-family: 'Homemade Apple', cursive;
  line-height: 1;
}

h2 {
  color: #C64272;
  font-family: 'Prata', serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #FA5862;
  font-family: 'Prata', serif;
  }

  p {
      line-height: 2;
  }

  hr {
  border: dotted #053742;
  width: 30%;
  height: 10%;
border-bottom: none;
border-left: none;
border-right: none;
padding: 20px;
padding-top: 20px; 
}

.top-container {
  background-color: #F6E7D8;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #F6E7D8;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
background-color: #F6F982;
padding: 50px 0 20px;
}
a {
  font-family: 'Poppins', sans-serif;
  color: ##F6F982;
  margin: 30px 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.dm {
width: 25%;
float: left;
padding-right: 30px; }

.cw { width: 25%;
float: right;
padding-left: 30px;
}

.con {
width: 15%;
padding-right: 30px;
}

.top-cloud {
  position: absolute;
  top: 25px;
  right: 30px;
  bottom: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 20px;
  bottom: 30px;
}



.contact-me {
padding-bottom: 30px; }

.btn {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Helvetica;
   font-size: 25px;
   font-weight: 15;
   padding: 25px;
   background-color: #FA5862;
   border: solid #FA5862 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
